<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
    <h3>Project Details</h3>
    <p>
        <b>Project:</b> AI Mentor for Learning – Personalized Learning Assistant<br>
        <b>Student:</b> Mr Taoqeer Ahmad<br>
        <b>Roll No:</b> BSF2206361<br>
        <b>Semester:</b> 7th<br>
        <b>Session:</b> 2022-26 Eve.
    </p>

    <h3>Other Projects</h3>
    <ul>
        <li>
            <a href="https://huggingface.co/spaces/taqqi28/love-calculator" target="_blank">
                Love Calculator (AI App)
            </a>
        </li>
        <li>
            <a href="https://huggingface.co/spaces/taqqi28/unit-converter" target="_blank">
                Unit Converter
            </a>
        </li>
        <li>
            <a href="https://huggingface.co/spaces/taqqi28/Practical_proj" target="_blank">
                Practical Project on Hugging Face
            </a>
        </li>
    </ul>
</footer>

</body>
</html>